{% extends 'base.html.twig' %}
{% block stylesheets %}

<link rel="stylesheet" href="/css/context{{projet.getId()}}.css">

{% endblock %}

{% block title %}GD ~ {{ projet.getStructureName()}}{% endblock %}


{% block body %}

<section id="resum" class="dark-part">
	<div class="container">
		<div class="row">
			<div class="col-12">
				{% if app.user %}
				<h1 class="text-center">
					<a href="{{ path('edit-projet', {id: projet.id}) }}">{{ projet.getStructureName()}}</a>
				</h1>
				{% else %}
				<h1 class="text-center">{{ projet.getStructureName()}} </h1>
				{% endif %}
				<h2 class="text-center"><em>{{ projet.getHeaderStructure()}}</em></h2>
				<h3>{{ projet.getCatchySentence()}}</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				{% for p in presentation %}
				<img src="{{ asset('/uploads/pictures/' ~ p.getName()) }}" class="img-fluid"/>
				{% endfor %}
			</div>
			<div class="col-8">
				<p>{{ projet.getPresentationParagraph()|striptags|raw|nl2br }}</p>
				<!-- <p>Ces petites annotations : |striptags|raw|nl2br permettent de faire apparaitre le texte avec les espaces et les retours à la ligne ! ;)</p> -->
			</div>
		</div>
	</div>	
</section>
<section id="context" class="context-{{projet.getId()}}">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2>Contextualisation</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-8">
				<p>
					{{ projet.getContextParagraph()|striptags|raw|nl2br }}
				</p>
			</div>
		</div>
	</div>
</section>
<section id="project" class="dark-part">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2>Pour entrer dans les détails</h2>	
			</div>
		</div>
		<div class="row">
			<div class="col-12 ">
				<p>
					{{ projet.getExplainParagraph()|striptags|raw|nl2br }}
				</p>	
			</div>
		</div>
	</div>
	<div class="row justify-content-around">
		{% for f in framework %}
		<div class="col-1 ">
			<img src="{{ asset('/uploads/pictures/' ~ f.getName()) }}" class="img-fluid"/>	
		</div>
		{% endfor %}
	</div>
</section>
<section id="result">
	<div class="container">
		<div class="row">
			<div class="col">
				<h2>Le résultat</h2>	
			</div>
		</div>
		<div class="row">
			<div class="col-8">  
				<div class="row d-flex justify-center">	
				<p>
					Voici quelques captures d'écran des principales pages et fonctionnalités. 
				</p>
					{% for r in result %}
					<div class="col-4 mb-2 zoom">
						<img src="{{ asset('/uploads/pictures/' ~ r.getName()) }}" class="img-fluid"/>
					</div>
					{% endfor %}	
				</div>
			</div>
			<div class="col-4">
				<p>
					{{ projet.getResultParagraph()|striptags|raw|nl2br }}
				</p>
			</div>
		</div>
	</div>
</section>
<section id="contact" class="dark-part">
	<div class="container text-center">
		<h2>Vous voulez en savoir plus sur ce projet ? </h2>
		<p>En m'écrivant, vous pourrez avoir toutes les informations non disponibles sur le site, telles que les noms des responsables, des clients et des informations concernant le code.  </p>
		<button class="btn btn-login" type="button" data-toggle="collapse" data-target="#collapseForm" aria-expanded="false" aria-controls="collapseForm" id="buttonShowForm">Formulaire de contact</button>
		<button class="btn btn-login hidden" type="button" data-toggle="collapse" data-target="#collapseForm" aria-expanded="false" aria-controls="collapseForm" id="buttonMaskForm">Masquer le formulaire</button>
    	<div class="collapse" id="collapseForm">
      		<div class="card card-body  dark-form">
        		{{ include('mails/_form-ct.html.twig', {form: form }) }}
        		<a href="mailto:contact@gaelle-david.cmoi.cc" id="linkMaskForm"><em>Passer plutôt par un email</em></a>
      		</div>
    	</div>
	</div>
</section>



{% endblock %}